<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ozner.cup"
          android:sharedUserId="com.ozner.cupen">

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <!-- 读权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>

    <!-- Push service 运行需要的权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 富媒体需要声明的权限 -->
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER"/>
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION"/>
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <application
        android:name=".Device.OznerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ozner"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Login.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".MainEnActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Guide.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".WaterCup.WaterKnowActivity"/>
        <activity android:name=".Guide.GuideActivity"/>
        <activity
            android:name=".Login.LoginEnActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Device.AddDeviceActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Device.MatchCupActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".Device.MatchProbeActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".Device.MatchTdsPenActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".Device.MatchAirPuriTaiActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".Device.MatchAirPuriVerActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".Device.SetupGlassActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".Device.MatchPurifierActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".Device.SetupWaterReplenMeterActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".AirPurifier.AirTimeVerActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".AirPurifier.AirFilterActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <service android:name="com.ozner.application.OznerBLEService"/>
        <!-- <service android:name=".Alarm.AlarmService"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.ozner.cup.alarm.ALARM_ALERT" /> -->
        <!-- </intent-filter> -->
        <!-- </service> -->
        <service android:name=".Guide.LoginService"/>

        <activity
            android:name=".UIView.FirmwareUpgrade"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Device.SetupWaterProbeActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <!-- <activity -->
        <!-- android:name=".Alarm.NoticeActivity" -->
        <!-- android:theme="@style/AppTheme.NoActionBar" /> -->
        <activity
            android:name=".Device.SetupWaterTDSPenActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Device.SetupWaterPurifierActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Device.SetupAirPurifierActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Device.SetDeviceName"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Device.SetSexActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Device.SetupReplenTimeActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Device.AboutDeviceActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Device.SetRemindTime"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Device.MatchWaterReplenishmentMeterActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Device.CommonProblemActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".TeachGuide.CupTeachGuideActivity"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <data android:scheme="tencent100371282"/>

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <meta-data
                android:name="AuthorizeAdapter"
                android:value="com.ozner.cup.Login.ShareSDKAdapter"/>
        </activity>
        <activity
            android:name=".mycenter.MyFriendsActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".mycenter.AddFriendActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".WaterProbe.FilterStatusActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".AirPurifier.AirPmIntroduceAcitivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".AirPurifier.AirVocIntroduceAcitivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".mycenter.SendVerifyActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".mycenter.DealVerifyActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".mycenter.CenterRankActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".mycenter.LikeMeActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".mycenter.CenterSetupActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".mycenter.SetUnitActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".mycenter.AboutActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".mycenter.AdviseActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".mycenter.MyDeviceActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".mycenter.WebActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".QRCodeScan.activity.CaptureActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".TeachGuide.ProbeTeachGuideActivity"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <!-- <service android:name=".Device.RemindService"/> -->
        <!-- <receiver android:name=".Device.MobileRemindReceiver"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.BOOT_COMPLETED"/> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->


        <!-- 4.6版本新增的Activity声明，提升Push后台存活率 -->
        <!-- <activity -->
        <!-- android:name="com.baidu.android.pushservice.PushKeepAlive" -->
        <!-- android:theme="@android:style/Theme.Translucent.NoTitleBar" /> -->


        <!-- push service start -->
        <receiver android:name=".BaiduPush.OznerBaiduPushReceiver">
            <intent-filter>

                <!-- 接收push消息 -->
                <action android:name="com.baidu.android.pushservice.action.MESSAGE"/>
                <!-- 接收bind、setTags等method的返回结果 -->
                <action android:name="com.baidu.android.pushservice.action.RECEIVE"/>
                <!-- 接收通知点击事件，和通知自定义内容 -->
                <action android:name="com.baidu.android.pushservice.action.notification.CLICK"/>
            </intent-filter>
        </receiver>
        <!-- 用于接收系统消息以保证PushService正常运行 -->
        <receiver
            android:name="com.baidu.android.pushservice.PushServiceReceiver"
            android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <action android:name="com.baidu.android.pushservice.action.notification.SHOW"/>
                <action android:name="com.baidu.android.pushservice.action.media.CLICK"/>
                <!-- 以下四项为可选的action声明，可大大提高service存活率和消息到达速度 -->
                <action android:name="android.intent.action.MEDIA_MOUNTED"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
        </receiver>
        <!-- Push服务接收客户端发送的各种请求 -->
        <receiver
            android:name="com.baidu.android.pushservice.RegistrationReceiver"
            android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.METHOD"/>
                <action android:name="com.baidu.android.pushservice.action.BIND_SYNC"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>

                <data android:scheme="package"/>
            </intent-filter>
        </receiver>

        <service android:name="com.aylanetworks.aaml.AylaExecuteRequest"/>
        <service
            android:name="com.baidu.android.pushservice.PushService"
            android:exported="true"
            android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.PUSH_SERVICE"/>
            </intent-filter>
        </service>
        <!-- 4.4版本新增的CommandService声明，提升小米和魅族手机上的实际推送到达率 -->
        <service
            android:name="com.baidu.android.pushservice.CommandService"
            android:exported="true"/>
        <!-- push结束 -->


        <!-- <receiver -->
        <!-- android:name=".Alarm.AlarmReceiver" -->
        <!-- android:process=":remote"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="ELITOR_CLOCK" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->

        <meta-data
            android:name="api_key"
            android:value="0si8AI4XyFKDbK7dWGIZG424"/>
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5691fb2c67e58e2f03000436"/>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="BYNEAR"/>

        <activity
            android:name=".TeachGuide.TeachGuideForCupActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <receiver android:name=".HttpHelper.NetBroadcastReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

        <activity
            android:name=".AirPurifier.VerAirFilterActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".mycenter.MyCenterActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Login.SignUpActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Login.ResetPwdActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>